:root{
    --primary-color:#4A8B71;
    --secondary-color: #ffffff;
    --lighten-secondary-color: #D8D8D8;
    --couverture-bg-color: #F7F8FC;
    --couvertur-bg-color: #E8F1EE;
    --black-color:#4B4B4B;
    --secondary-color:#F1CF69;
    --link-color:#9BA2A7;
    --grine__color:#fbf9f9;
    --checkout__border-color:#979797;
    --checkout__color:#306650;
    --darken-gray-black:#000000;
    --darken-gray-shadow:rgba(0,0,0,0.3); 
    --lighten-gray-color:#39526d;
    --ligh-gray-color:#31475E;
    --color__black: #333;
    --color--black--rgba: rgb(1, 1, 1);
    --ligh-gra-color: #6A7C92;;
    --blue-color-shadow: rgba(241,207,105,0.81);
    --auto-slide__cadre-color:#306650;
    --color__ver__shadow: rgba(74,139,113,0.49);
    --ver--color--shadow: rgba(74,139,113,0.78);
    --black--color--shadow: rgba(0, 0, 0, 0.52);
    --lighten-color:#446A5B;
    --lighte-color:#6A8D7F;
    --lighte-colors: #95ABA2;
    --couverture-color:rgb(75, 73, 73);
    --wiate-gray-shadow:rgb(255, 255, 255); 
    --auto-slide__Active:#1D563E;
    --color-map--infourmation:rgba(211,206,39,0.79):
    --color-maps:rgba(241, 181, 49, 0.79);
} 